{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static "InvitationManager/css/styles.css" %}">
	<link rel="stylesheet" href="{% static "InvitationManager/css/footer.css" %}">
	<style type="text/css">
		{% comment %} .footerContainer {
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
		} {% endcomment %}
	</style>
</head>
<body>
	<div class="footerContainer">
		<footer>
			For any questions, or assistance, please email us.
		</footer>
	</div>
</body>
</html>