<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}<title>You're Invited</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Add additional CSS in static file -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="bg-dark text-light">
	
	<div class="d-flex flex-column h-100">

		FAQ
		<br>
		Where do I get my invitation?
		<br>> Check your email or facebook messages. Ensure you check you spam folder.
		<br><br>
		My invitation URL isnt working, how do I RSVP?
		<br>
		> Email us at peterandteawedding@gmail.com and we'll help you out.
		<br><br>
		I lost my invitation URL!
		<br>> Email us
	</div>

</body>

</html>