<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}<title>You're Invited</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Add additional CSS in static file -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="bg-dark text-light">
	
	<div class="d-flex flex-column h-100">

		<h1>It seems we couldnt find your invitation...</h1>
		To access your invitation please be sure you click the link provided in the email or facebook message we sent you.
		<br>
		Your invitation should look something like this
		<br>
		<i>Example URL</i>
		https://www.andreoliwedding.com/yourinvitation/Example_URL
		<br>
		If you cannot find this URL please contact us at support@email.com
		<br>
		<a href="{% url 'InvitationManager:help_endpoint' %}">You can also visit our FAQ page for help!</a>
	</div>

</body>

</html>